body {
    font-family: sans-serif;
  }
  
  h1 {
    margin-left: 40px;
  }
  
  form {
    margin-left: 40px;
  }
  
  footer {
    margin-top: 30%;
  }
  .search,
  .submit {
    padding: 10px;
  }
  
  li {
    list-style-type: none;
    font-size: 15px;
  }
  